#heading{
    background-color: rgb(163, 137, 103);
    text-align: center;
}

.paragraph{
    background-color: aquamarine;
    text-align: center;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}